.account{
    display: inline-flex;
    min-height: 738px;
}

.user-profile{
    width: 300px;
    text-align: center;
    margin-left: 25px;
    background-color: #cccccc;
    padding: 15px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin-right: 25px;
}

#icon{
   font-size: 150px;
   background-color: grey;
   padding: 50px;
   border-radius: 50%;
}

#image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.account-interact{
    display: inline-flex;
}

.account-links{
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #a27c82;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.wishlist-div{
    align-items: center;
}

.edit-profile{
    display: inline-flex;
    
}

#edit:hover{
    text-decoration: underline;
    cursor: pointer;
}

#delete:hover{
    text-decoration: underline;
    cursor: pointer;
}

.edit-profile i{
    margin-top: 23px;
}

#edit{
    margin-right: 15px;
}

.user-reviews{
    width: 800px;
    margin-right: 200px;

}
    
.delete-div {
    position: absolute;
    background-color: #cccccc;
    padding: 25px;
    margin-left: 800px;
    margin-top: 400px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
top: 0;
    width: 300px;
    height: 300px;
    z-index: 999;
}

.account-reviews{
    display: inline-flex;
    background-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-width: 800px;
    padding-bottom: 15px;
}

.click:hover{
    text-decoration: underline;
}

.click{
    text-align: center;
}

#product-image{
    width: 200px;
    padding-top: 5%;
}

.delete-div.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 1;
}

.delete-div.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}