.account{
    display: inline-flex;
    min-height: 738px;
}

.user-profile{
    width: 300px;
    text-align: center;
    margin-left: 25px;
    background-color: #cccccc;
    padding: 15px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin-right: 25px;
}

#icon{
   font-size: 150px;
   background-color: grey;
   padding: 50px;
   border-radius: 50%;
}

#image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.account-interact{
    display: inline-flex;
}

.edit-profile{
    display: inline-flex;
    
}

.edit-profile i{
    margin-top: 23px;
}

#edit{
    margin-right: 15px;
}

.user-reviews{
    width: 800px;
    margin-right: 200px;
    background-color: aqua;
}
    
.user-links{

    
}