.home-div{
    display: inline-flex;
    width: 100%;
    margin-left: 300px;
    
}

/* .center-div{
    padding-left: 50%;
} */

.right-div{
    margin-left: 100px;
    padding-left: 5%;
    padding-right: 75.4%;
    background-color: red;
}

.right-div p {
    color: blue;
}

.left-div{
    text-align: center;
    
    width: 300px;
    /* overflow: visible; */
    background-color: royalblue;
}

.left-div h5{
    width: fit-content;
    margin-left: 35%;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}