.home-div{
    display: inline-flex;
    width: 100%;
    /* margin-left: 500px; */
    
}

.home-reviews{
    display: inline-flex;
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.home-reviews p {
    width: 900px;
    margin-left: 25px;
}

.home-reviews img{
    width: 200px;
    padding-top: 5%;
}

.right-div{
    width: 120%;
    padding-left: 5%;
    /* background-color: red; */
}


.left-div{
    text-align: center;
    position: flex;
    width: 600px;
    /* overflow: visible; */
    background-color: #a27c82;
    margin-right: 100px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    
}

.left-div h5{
    width: fit-content;
    margin-left: 36.5%;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.user-reviews{
padding-right: 200px;
}

.user-links{

}