.login-div{
    background-image: linear-gradient(to bottom right, pink, grey);
    height: 100%;
    width: 100%;
    position: absolute;
}

.login-box{
    padding-top: 5px;
    text-align: center;
    margin-left: 40%;
    margin-top: 15%;
    background-color: #cccccc;
    height: 300px;
    width: 300px;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}