.nav{
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    padding-top: 2%;
    padding-bottom: 5%;
}
.nav-items{
    /* max-width: 100%; */
    display: inline-flex;
}

.welcome-div{
    padding-left: 10%;
    padding-right: 400%;
}

.img{
    padding-right: 350%;
}

.dropdown-trigger{
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    top: 95px;
    left: 1610px;
    background-color: #cccccc;
    border-radius: 25px;
    padding: 10px 20px;
    width: 250px;
    z-index: 1;
}

.dropdown-menu ul li:hover{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

#skin-logo{
    height: 80px;
    border-radius: 50%;
}
.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-item{
    display: flex;
    margin: 10px auto;
}

.dropdown-item i{
    max-width: 20px;
    margin-top: 24px;
    margin-right: 10px;
    transition: var(--speed);
}

/* .dropdown-item p {
    top: -20px;
} */