.product-div{
    padding-left: 15px;
}
.product-image img{
    height: 400px;
    padding-top: 20px;
    padding-right: 55px;
}

.product-info{
    display: inline-flex;
}

.product-text{
    padding-top: 20px;
    width: 60%;
}

.confirm {
    background-color: #cccccc;
}

.confrim.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 1;
    border-radius: 10%;
}

.confirm.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}