.image img{
    height: 120px;
    width: 110px;
}



.item-card{
    display: inline-block;
    text-align: center;
    max-width: 200px;
    min-width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.item-text h4{
    height: 80px;
}